logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
/.sbtserver
project/.sbtserver
project/.sbtserver.lock
/reactApp/node_modules/
/reactApp/npm-debug.log
/reactApp/build

