@(game_wrong_guesses: String, game_word_with_guesses: String)(implicit flash: Flash)

<h2>Guess a letter</h2>
@if(flash.get("error").isDefined) {
    <p>
        <span class="error">@flash.get("message")</span>
    </p>
}
<p>
    Wrong Guesses:
    <span class="guesses">@game_wrong_guesses</span>
</p>
<p>
    Word so far:
    <span class="word">@game_word_with_guesses</span>
</p>
<form action="/guess" method="post">
    <input type="text" size="1" name="guess" autocomplete="off"/>
    <input type="submit" value="Guess!"/>
</form>
@newAction