@import "lib/compass-mixins/lib/compass";
@import "lib/bootstrap-sass/assets/stylesheets/bootstrap";

$col-teal: #008080;
$col-word: #0432ff;
$col-guesses: #ff2600;
$col-red: #f00;
$col-green: #008000;
$col-grey: #808080;

body {
  border: 8px solid $col-teal;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  padding: 2em;
}

span {
  .word {
    color: $col-word;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 4px;
    padding-left: 2em;
    text-transform: uppercase;
  }

  .guesses {
    color: $col-guesses;
    font-weight: bold;
    letter-spacing: 4px;
    padding-left: 1em;
    text-transform: uppercase;
  }

  .lose {
    color: $col-red;
    font-weight: bold;
  }

  .error {
    color: $col-red;
  }

  .win {
    color: $col-green;
    font-weight: bold;
  }
}

form {
  border: 1px solid $col-grey;
  margin: 4px;
}
