@import "lib/compass-mixins/lib/compass";
@import "lib/bootstrap-sass/assets/stylesheets/bootstrap-compass";
@import "lib/bootstrap-sass/assets/stylesheets/bootstrap";

$color-teal: #008080;
$color-red: #f00;
$color-green: #008000;
$color-grey: #808080;

body {
  border: 8px solid $color-teal;
  font-family: Helvetica, Arial, Geneva, sans-serif;
  padding: 2em;
}

.text-guesses {
  @extend .text-danger;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

.text-word {
  @extend .text-info;
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
}

span.lose {
  color: $color-red;
  font-weight: bold;
}
